<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>

<div id="header">KALKULATOR JEDNOSTEK</div>

<div id="container">
    <form action="/calculator" method="post">

        Wartość wejściowa:
        <input type="number" name="value" step="0.001" th:value="${value}"><br />

        Jednostka wejściowa:
        <select name="in" th:value="${in}">
            <option value="Pa">Paskal [Pa]</option>
            <option value="kPa">Kilopaskal [kPa]</option>
            <option value="MPa">Megapaskal [MPa]</option>
            <option value="mH2O">Metr słupa wody [mH2O]</option>
            <option value="cmH2O">Centymetr słupa wody[cmH2O]</option>
            <option value="mmH2O">Minimetry słupa wody[mmH2O]</option>
        </select><br />

        Jednostka wyjściowa:
        <select name="out" th:value="${out}">
            <option value="Pa">Paskal [Pa]</option>
            <option value="kPa">Kilopaskal [kPa]</option>
            <option value="MPa">Megapaskal [MPa]</option>
            <option value="mH2O">Metr słupa wody [mH2O]</option>
            <option value="cmH2O">Centymetr słupa wody[cmH2O]</option>
            <option value="mmH2O">Minimetry słupa wody[mmH2O]</option>
        </select><br />

        <input type="submit" value="Przelicz">
    </form>

    <p th:text="${calculator}"/>

</div>

<div id="footer">Copyrights 2018 by Jakub Nowak</div>


</body>
</html>